# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debugger Files
*.pdb

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
Build/
build-*/

# Temporary files
*.tmp
*.log
*.bak
*.swp

# subject
en.subject.pdf
es.subject.pdf